<table class="playeractions" border="0">
    <tr>
        <td colspan="6">Choose an action</td>
    </tr>
    <tr>
        <td><input type="button" id="action_sitout" value="sit out"/></td>
        <td><input type="button" id="action_fold" value="fold"/></td>
        <td><input type="button" id="action_check" value="check"/></td>
        <td><input type="button" id="action_call" value="call"/></td>
        <td><input type="button" id="action_bet" value="bet"/></td>
        <td><input type="button" id="action_raise" value="raise"/></td>
        <td><input type="button" id="action_allin" value="all-in"/></td>
    </tr>
</table>