/*****************************************************
* Authentification
*****************************************************/
#login-container {
    background: #7d172a;
    text-align: right;
}

#login-container label {
    color: #FFD700;
}

/*****************************************************
* Game informations
*****************************************************/
#gameinfos-container {
    /*la couleur deconne sans ce float:left (?) */
    float: left;
    width: 100%;
    background: #7d172a;
}

#gameinfos-container #gameinfos-left {
    float: left;
}

#gameinfos-container #gameinfos-right {
    float: right;
}

#gameinfos-container p {
    margin: 0;
}

#gameinfos-container label {
    color: #FFD700;
}
/*****************************************************
* Player informations
*****************************************************/
#playerinfos-container {
    float: left; /*la couleur deconne sans ça (?) */
    width: 100%;
    background: #7d172a;
}

#playerinfos-container #playerinfos-left {
    float: left;
}

#playerinfos-container #playerinfos-right {
    float: right;
}

#playerinfos-container p {
    margin: 0;
}

#playerinfos-container label {
    color: #FFD700;
}
/*****************************************************
* Player on the table
*****************************************************/
#pokertable {
    text-align: center;
}

#pokertable td {
    width: 250px;
    height: 80px;
    background: #7d172a;
}
#pokertable div {
    text-align: left;
}

#pokertable div p {
    margin: 5px;
}

#pokertable div p label {
    color: #FFD700;
}
/*****************************************************
* Player actions
*****************************************************/
#playeractions-container {
    /*float: right;*/
    width: 100%;
    border-width: 1px;
    background: #7d172a;

    /*isma ajout*/
    position: fixed;
    bottom: 10px;
}