/* Style General */
* {
    padding: 0;
    margin-bottom: 10px;
}

html {
    margin:0;
    padding:0;
    /*height: 100%;*/
}

body {
    height: 100%;
    background: #6d071a;
    border-width: 1px;
}

h1 {
    font-size: 20px;
}
/*****************************************************
* Authentification
*****************************************************/
#login-container {
    position: absolute;
    right: 0px;

    border-width: 1px;
    background: #7d172a;
    text-align: left;
}

#login-container label {
    width: 100px;
    color: #FFD700;
}

/*****************************************************
* Game informations
*****************************************************/
#main-container {
    width: 800px;
    height: 150px;
    background: #7d172a;
}
/*****************************************************
* Game informations
*****************************************************/
#gameinfos-container {
    float: left;
    /*width: 50%;*/
    border-width: 1px;
    background: #7d172a;
    text-align: left;
}

#gameinfos-container #gameinfos-left {
    float: left;
}

#gameinfos-container #gameinfos-right {
    float: right;
}

#gameinfos-container p {
    margin: 0;
}

#gameinfos-container label {
    color: #FFD700;
}

/*****************************************************
* Player actions
*****************************************************/
#playeractions-container {
    float: right;
    /*width: 50%;*/
    border-width: 1px;
    background: #7d172a;
}

/*****************************************************
* Table
*****************************************************/
.pokertable {
    border: 1px;
    background: green;
    text-align: center;
}

.pokertable td {
    width: 200px;
    height: 200px;
}

.pokerboard {
    border: 1px;
    background: #90ee90;
    text-align: center;
}

.pokerboard td {
    width: 80px;
    height: 100px;
}

.playeractions {
    border-width: 0px;
    background: #7d172a;
    text-align: left;
}

.playeractions td {
    color: #FFD700;
    /*width: 100px;*/
}